$white:#FFFFFF;
$gray:#707070;
$black:#333333;
$pink:#FA41CC;
$purple:#6020B0;
$cyan:#63FBD7;
$light-blue:#05A5FA;
$cyan-blue:#3BA6C9;
$deep-blue:#0C449B;
$bg-cyan:#EEFBFB;
$table-br:#E5E5E5;
$answer-bg:#F2F2F2;
$border:#dddddd;