@charset "UTF-8";
html {
  overflow: hidden scroll;
}

body {
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0 auto;
  color: #333333;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  font-size: 16px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
  line-height: 48px;
}

h6 {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.sub-title {
  font-size: 16px;
  color: #3BA6C9;
  margin-bottom: 10px;
}

.contact-button a {
  display: inline-block;
  padding: 7px 36px 10px 35px;
  text-decoration: none;
  color: #333333;
  border: 1px solid;
}

header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 94px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  z-index: 9999;
  position: fixed;
  background: #fff;
}

header #header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 74.816%;
  margin: 0 auto;
}

header #header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #header-left img {
  margin-top: 24px;
  margin-right: 16px;
  margin-left: 20px;
  width: 47px;
  height: 47px;
}

header #header-left h1 {
  padding-right: 137px;
  padding-top: 28px;
  font-size: 24px;
  line-height: 32px;
}

header #header-left h1 a {
  text-decoration: none;
  color: #333333;
}

header #header .nav {
  margin-top: 34px;
}

header #header .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #header .nav ul li {
  list-style: none;
  padding-right: 46px;
}

header #header .nav ul li a {
  text-decoration: none;
  color: #333333;
  font-size: 16px;
}

header #header-right {
  margin-top: 29px;
}

header #header-right button {
  display: block;
  padding: 7px 36px 10px 35px;
  background: transparent -webkit-gradient(linear, left top, right top, from(#FA41CC), to(#6020B0));
  background: transparent linear-gradient(90deg, #FA41CC 0%, #6020B0 100%);
  border: none;
  border-radius: 10px;
  outline: none;
}

header #header-right button a {
  text-decoration: none;
  color: #FFFFFF;
}

header #header #menu-bar {
  display: none;
}

#site-description {
  margin-left: auto;
  margin-right: auto;
}

#site-description .site-description {
  background-image: url("../img/楕円形 1.svg");
  background-position: top -37px right -120px;
  background-size: auto;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 768px;
  padding-top: 94px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1366px;
}

#site-description .site-description-left {
  padding-right: 133px;
}

#site-description .site-description-left h2 {
  margin-top: 159px;
  font-size: 32px;
  line-height: 54px;
}

#site-description .site-description-left p {
  font-size: 16px;
  line-height: 27px;
  margin-top: 44px;
  line-height: 24px;
}

#site-description .site-description-left .contact-button a {
  padding: 8px 35px 9px 36px;
  font-size: 14px;
  margin-top: 45px;
  margin-bottom: 155px;
  background: transparent -webkit-gradient(linear, left top, right top, from(#FA41CC), to(#6020B0));
  background: transparent linear-gradient(90deg, #FA41CC 0%, #6020B0 100%);
  color: #FFFFFF;
  border-radius: 10px;
}

#site-description .site-description-right img {
  width: 100%;
  margin-top: 131px;
}

section {
  margin-left: auto;
  margin-right: auto;
}

section #site-features {
  text-align: center;
  margin: 0 auto;
}

section #site-features p {
  line-height: 26px;
}

section #site-features h3 {
  padding-top: 71px;
}

section #site-features h5 {
  line-height: 48px;
}

section #site-features-p {
  margin-bottom: 57px;
}

section #site-features-1 {
  margin-bottom: 86px;
}

section #site-features-1 h4 {
  margin-bottom: 49px;
}

section #site-features-1 .site-features-left {
  margin-right: 157px;
}

section #site-features-1 .site-features-left img {
  width: 100%;
}

section #site-features-1 .site-features-right {
  text-align: left;
}

section #site-features-1 .site-features-right h5 {
  margin-top: 47px;
  margin-bottom: 45px;
}

section #site-features-2 {
  margin-bottom: 136px;
}

section #site-features-2 h4 {
  margin-bottom: 59px;
}

section #site-features-2 .site-features-left {
  margin-right: 84px;
  text-align: left;
}

section #site-features-2 .site-features-left h5 {
  margin-top: 2px;
  margin-bottom: 40px;
}

section #site-features-2 .site-features-right img {
  width: 100%;
}

section #site-features-3 {
  margin-bottom: 154px;
}

section #site-features-3 h4 {
  margin-bottom: 62px;
}

section #site-features-3 .site-features-left {
  margin-right: 173px;
}

section #site-features-3 .site-features-left img {
  width: 100%;
}

section #site-features-3 .site-features-right {
  text-align: left;
}

section #site-features-3 .site-features-right h5 {
  margin-top: 47px;
  margin-bottom: 33px;
}

section #site-features-3 .site-features-right p {
  line-height: 28px;
}

section #site-features .site-feature-layout-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#price {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 55px;
  padding-bottom: 68px;
  padding-left: 16.17%;
  padding-right: 16%;
  background-color: #EEFBFB;
}

#price-p {
  margin-top: 21px;
}

#price .price-table {
  width: 100%;
  margin-top: 73px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  background-color: white;
  border: none;
}

#price table {
  border: 1px solid #E5E5E5;
  width: 100%;
  height: 410px;
  border-collapse: collapse;
  border-color: #E5E5E5;
  border: none;
}

#price table th {
  background-color: #ffffff;
  border: 1px solid #E5E5E5;
}

#price table td {
  border: 1px solid #E5E5E5;
}

#price table .price-table-left {
  padding-left: 3%;
  text-align: left;
  width: 30%;
}

#price table .price-table-right {
  text-align: left;
  padding-left: 30.5px;
  width: 70%;
}

#price #price-caution p {
  margin-top: 36px;
}

#questions {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 86px;
}

#questions-p {
  margin-top: 11px;
}

#questions-contents {
  margin-top: 11px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 17%;
  padding-right: 16%;
}

#questions-contents .questions-content {
  font-size: 14px;
}

#questions-contents .questions-content p {
  font-size: 14px;
}

#questions-contents .questions-content .question {
  position: relative;
  border: 1px solid #E5E5E5;
  height: 58px;
  padding-top: 18px;
}

#questions-contents .questions-content .question span {
  position: absolute;
  right: 15px;
  color: #E5E5E5;
}

#questions-contents .questions-content .answer {
  line-height: 26px;
  border: 1px solid #E5E5E5;
  background-color: #F2F2F2;
  text-align: left;
  padding-left: 13%;
  padding-right: 5%;
  display: none;
}

#questions-contents .questions-content #answer-1 {
  padding-top: 17px;
  padding-bottom: 30px;
  display: block;
}

#questions-contents .questions-content #answer-2 {
  padding-top: 23px;
  padding-bottom: 27px;
}

#questions-contents .questions-content #answer-3 {
  padding-top: 24px;
  padding-bottom: 26px;
}

#blog {
  margin-left: auto;
  margin-right: auto;
  padding-top: 55px;
  padding-bottom: 91px;
  text-align: center;
  background-color: #EEFBFB;
  width: 100%;
}

#blog #-p {
  margin-top: 11px;
}

#blog .inner {
  width: 1366px;
  margin: 0 auto;
}

@media screen and (max-width: 1436px) {
  #blog .inner {
    width: 1200px;
  }
}

@media screen and (max-width: 1300px) {
  #blog .inner {
    width: 1000px;
  }
}

@media screen and (max-width: 1100px) {
  #blog .inner {
    width: 900px;
  }
}

#blog .blog-el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 54px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#blog .blog-el .blog-el-article {
  width: 33%;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  background-color: #FFFFFF;
  position: relative;
}

#blog .blog-el .blog-el-article img {
  height: auto;
  width: 100%;
}

#blog .blog-el .blog-el-article .blog-el-title {
  margin-top: 5px;
  text-align: left;
  min-height: 130px;
  margin: 19px 18px 9px;
}

#blog .blog-el .blog-el-article .blog-el-date {
  font-size: 16px;
  line-height: 26px;
  text-align: right;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 32px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#blog .blog-el #blog-el-article-1 {
  margin-right: 30px;
}

#blog .blog-el #blog-el-article-2 {
  margin-right: 30px;
}

#contact {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 63px;
  background: transparent -webkit-gradient(linear, left top, right top, from(#05A5FA), color-stop(100%, #63FBD7), to(#67FFD6)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #05A5FA 0%, #63FBD7 100%, #67FFD6 100%) 0% 0% no-repeat padding-box;
  height: 1027px;
}

#contact-p {
  margin-top: 7px;
  color: white;
  margin-bottom: 0;
}

#contact #contact-des {
  margin-top: 36px;
}

#contact .form-wrapper {
  background-color: #FFFFFF;
  margin-top: 44px;
  width: 66.471%;
  height: 689px;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

#contact .form-wrapper p {
  text-align: left;
  padding-left: 63px;
}

#contact .form-wrapper p span {
  color: #FFFFFF;
  width: 60px;
  height: 30px;
  background-color: #0C449B;
  border-radius: 10px;
  padding: 4px 16px 6px;
  margin-left: 23px;
}

#contact .form-wrapper p input {
  background-color: #EEFBFB;
  margin-top: 39px;
  width: 54.955%;
  height: 43px;
}

#contact .form-wrapper p textarea {
  background-color: #EEFBFB;
  margin-top: 35px;
  width: 86.23%;
  height: 179px;
}

#contact .form-wrapper .contact-form-privacy label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 0 30px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .form-wrapper .contact-form-privacy label .checkbox {
  text-align: center;
  padding-left: 10px;
}

#contact .form-wrapper .contact-form-privacy label input[type=checkbox] {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#contact .form-wrapper .change-btn {
  padding: 8px 50px 9px 49px;
  border: 1px solid black;
  margin-bottom: 35px;
  font-size: 14px;
  padding: 8px 50px 9px 49px;
  background: transparent -webkit-gradient(linear, left top, right top, from(#FA41CC), to(#6020B0));
  background: transparent linear-gradient(90deg, #FA41CC 0%, #6020B0 100%);
  border: none;
  border-radius: 10px;
  color: white;
}

#contact .form-wrapper #name-form {
  padding-top: 34px;
}

#contact .form-wrapper #mail-form {
  padding-top: 27px;
}

#contact .form-wrapper #content-form {
  padding-top: 21px;
}

#footer {
  margin-left: auto;
  margin-right: auto;
  padding-top: 43px;
  text-align: center;
}

#footer-title {
  line-height: normal;
  padding-bottom: 21px;
}

#footer-policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 52px;
  margin-bottom: 0;
  color: #333333;
}

#footer-policy p {
  padding-left: 29px;
}

#footer-policy #privacy-policy {
  padding-left: 29px;
}

#footer-bottom {
  font-size: 14px;
  margin-bottom: 49px;
  font-weight: normal;
}

#performances {
  text-align: center;
  padding-top: 55px;
}

#performances h3 {
  padding-bottom: 11px;
  text-align: center;
}

#performances-p {
  padding-bottom: 68px;
}

#performances .sub-title {
  margin-bottom: 0;
}

#performances .swiper-container {
  width: 100%;
  height: 100%;
  margin-bottom: 90px;
}

#performances .swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#performances .swiper-container .swiper-slide .swiper-border {
  border: 1px solid #dddddd;
  border-radius: 8px;
  width: 322px;
  margin: 0 auto;
  text-align: left;
  width: 80%;
}

#performances .swiper-container .swiper-slide .swiper-border img {
  width: 100%;
}

#performances .swiper-container .swiper-slide .swiper-border .perfomance-title {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 16px;
  padding-left: 18px;
  padding-bottom: 30px;
}

#performances .swiper-container .swiper-slide .swiper-border .perfomance-details {
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  padding-left: 18px;
  padding-right: 5px;
  padding-bottom: 40px;
}

.end-message {
  display: none;
}

.false-message {
  display: none;
}

section {
  margin-left: auto;
  margin-right: auto;
}

.btn-trigger {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 34px;
  height: 28px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  z-index: 11;
}

.btn-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #383838;
  border-radius: 4px;
  z-index: 11;
}

.btn-trigger, .btn-trigger span {
  display: inline-block;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-trigger span:nth-of-type(1) {
  top: 0;
}

.btn-trigger span:nth-of-type(2) {
  top: 12px;
}

.btn-trigger span:nth-of-type(3) {
  bottom: 0;
}

#btn.active span:nth-of-type(1) {
  -webkit-transform: translateY(12px) rotate(-45deg);
          transform: translateY(12px) rotate(-45deg);
}

#btn.active span:nth-of-type(2) {
  left: 50%;
  opacity: 0;
  -webkit-animation: active-btn-bar02 .8s forwards;
          animation: active-btn-bar02 .8s forwards;
}

@-webkit-keyframes active-btn-bar02 {
  100% {
    height: 0;
  }
}

@keyframes active-btn-bar02 {
  100% {
    height: 0;
  }
}

#btn.active span:nth-of-type(3) {
  -webkit-transform: translateY(-12px) rotate(45deg);
          transform: translateY(-12px) rotate(45deg);
}

.btn-trigger {
  display: none;
}

#og-img {
  display: none;
}
/*# sourceMappingURL=style.css.map */
